<html>
<body>
    <h3>Modelo Predictivo basado en el Dataset Iris</h3>

<div>
  <form action="/result" method="POST">
    <label for="Team">Team: </label>
    <input type="text" id="Team" name="Team">
    <br>
    <label for="MatchWinner">MatchWinner: </label>
    <input type="text" id="MatchWinner" name="MatchWinner">
    <br>
    <label for="Survived">Survived: </label>
    <input type="text" id="Survived" name="Survived">
    <br>
    <label for="RoundKills">RoundKills: </label>
    <input type="text" id="RoundKills" name="RoundKills">
    <br>
    <label for="RoundAssists">RoundAssists: </label>
    <input type="text" id="RoundAssists" name="RoundAssists">
    <br>
    <label for="RoundStartingEquipmentValue">RoundStartingEquipmentValue: </label>
    <input type="text" id="RoundStartingEquipmentValue" name="RoundStartingEquipmentValue">
    <br>
    <label for="TeamStartingEquipmentValue">TeamStartingEquipmentValue: </label>
    <input type="text" id="TeamStartingEquipmentValue" name="TeamStartingEquipmentValue">
    <br>
    <label for="EquipmentDifferenceValue">EquipmentDifferenceValue: </label>
    <input type="text" id="EquipmentDifferenceValue" name="EquipmentDifferenceValue">
    <br>
    <label for="DifferenceEquipmentValueLastRound">DifferenceEquipmentValueLastRound: </label>
    <input type="text" id="DifferenceEquipmentValueLastRound" name="DifferenceEquipmentValueLastRound">
    <br>
    <br>
    <button type="submit">submit</button>
  </form>
</div>
</body>
</html>